.disconts{
    margin: 50px 0;
}
.disconts-text{
    text-align: justify;
}
.disconts-arr
{
    margin-top: 30px;
}
.disconts-img img{
    margin-left: 50px;
}
.disconts-heading
{
    text-align: center;
    margin: 50px 0;
}