.large-image
{
    margin-top: 40px;
    position: relative;
}
.large-image img
{
    width: 100% !important;
    height: 300px !important;
}
.large-image_content
{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.content-title{
    font-size: 30px;
    font-weight: 600;
}
.content-desc{
    display: inline-block;
    margin: 6px 0 20px;
    font-weight: 500;
}
.content-btn{
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 138px;
    border-radius: 8px;
    text-decoration: none;
}
.content-btn:hover{
    background-color: #333;
    color: #fff;
}
.arr{
    margin-left: 10px;
}