.slide-mobile{
    display: none;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
 
}

/* Mobile */
@media only screen and (max-width: 46.1875em)
{
    .banner-pc{
        display: none;
    }
    .slide-mobile
    {
        display: block;
    }
}