.navbar
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.navbar li{
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    list-style: none;
}
.navbar li:hover{
    cursor: pointer;
}
