.step{
    display: flex;
    align-items: center;
}
.line-step
{
    border-top: 1px solid #666;
    width: 100px;
    margin:0 12px;
}
.line-step_bold{
    border-top: 2px solid #000;
}
.step-name{
    margin-left: 10px;
}