
.group-icon-header
{
    display: flex;
    justify-content: flex-end;
    line-height: 56px;
    height: 56px;
    margin-top: 0;
}
.search-icon, .cart-icon
{
    margin-right: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 24px;
    outline: none;
    border: none;
    background-color: transparent;
}
.input-search-group{

    display:  none;

}
.input-search
{
    height: 26px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-right: 10px;
    width: 200px;
    animation: hiddenSearch linear 0.5s;
}
.search-btn
{
    outline: none;
    border: none;
    background-color: transparent;
}
.search-btn i{
    color: blue;
}
@keyframes hiddenSearch {
    from
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.active{
    display: inline-block;
}