.select-item{
    display: inline-block;
    margin-right: 80px;
}
.arrow-icon
{
    display: inline-flex;
    margin-left: 6px;
    align-items: center;
}
.select-item:hover .drop-down
{
    display: block;
}