img{
    height: 440px !important;
    width: 90% !important;
}
.group-pick
{
    margin-top: 30px;
}
.pick-item
{
    display: flex;
    align-items: center;
}
.circle-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontsize
{
    font-size: 8px;
}
.text
{
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}
.text p{
    margin: 0;
}
