.gallery
{
    margin: 16px 0;
    /* overflow: hidden; */
}
.gallery-heading
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.gallery-name
{
    font-weight: 700;

}
.arrow1{
    margin-right: 20px;
}

.arrow-btn{
    border: none;
    outline: none;
    background-color: transparent;
}
.see-more
{
    height: 100%;
    width: 256px;
    background-color: turquoise;
}

.image-card
{
    margin-bottom: 50px;
}
.drop-list
{
    display: inline-block;
    position: relative;
}
.drop-list:hover{
    cursor: pointer;
}
.drop-list:hover .drop-down
{
    display: block;
}
.drop-down
{
    position: absolute;
    top: 24px;
    left: 0px;
    z-index: 100;
    background-color: #fff;
    display: none;
}
.select-count{
    display: flex;
    justify-content: space-between;
}
.select{
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 40px;
}
.no-product_notify
{
    color: #888;
    text-align: center;
    margin: 60px 0;
}