.infor{
    margin-left: 20px;
}
.product-name
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
}
.order{
    margin-top: 40px;
}
.order-btn{
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 63px;
}
.order-cart
{
    background-color: #fff;
    outline: none;
    padding: 9px 12px;
    margin-left: 20px;
    border: 1px solid #E6E6EB;
}
.group-plus
{
    margin-top: 40px;
}

.btn-disable{
    background-color: #999;
}
